build/
target/
.idea/
.settings/
WebContent/
out/
*.swp
.DS_Store
*.iml
.classpath
.project
flaws.json
.vscode/settings.json

filtered_results.json
results.json
pipeline-scan-LATEST.zip
pipeline-scan.jar